

.card-footer h3 {
  font-family: poppins !important;
  font-family: 'Poppins', sans-serif !important;

}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
  font-weight: 400 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



.btn-simple1 {
    color: #a70fea;
    background: no-repeat padding-box #fff;
    padding: 15px 25px;
}



.slick-dots {
    position: absolute;
    bottom: 28px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}